
    <section class="hero py-12">
      <div class="container mx-auto flex items-center justify-between">
        <div class="w-54">
          <h6 class="text-lg"><em>Are you hungry ?</em></h6>
          <h1 class="text-6xl font-bold mb-2">Don't wait</h1>
          <button class="orderbutton px-3 py-1.5">Order now</button>
        </div>
        <div class="w-64">
          <img src="/image/hero-pizza.png" alt="hero-pizza" s />
        </div>
      </div>
    </section>

    <section class="menu container mx-auto py-6">
      <h1 class="text-xl font-bold mb-6">All Pizzas</h1>
      <div class="grid grid-cols-4 grid-row-16 gap-y-4">
        <% pizzas.forEach( pizza => { %>
        <div class="w-48">
          <img class="h-24 mb-2 mx-auto" src="/image/<%= pizza.image %> " alt="pizz1" />
          <div class="text-center">
            <h2 class="mb-4 text-lg"></h2>
            <span class="size py-2 px-4 rounded-full uppercase text-xs mb-2"><%= pizza.size  %></span>
            <div class="flex items-center justify-around mt-4">
              <span class="font-bold text-lg">₹<%= pizza.price  %></span>
              <button
                class="add-to-cart rounded-full px-4 py-1 flex items-center">
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>

        <% }) %>
        
      </div>
    </section>
