<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yummy Tummy | Online Pizza store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <nav class="container mx-auto flex items-center justify-between py-2">
      <div>
        <img src="/image/logo.png" alt="logo" />
      </div>
      <div>
        <ul class="flex items-center">
          <li class="ml-6"><a href="#">Menu</a></li>
          <li class="ml-6"><a href="#">Offers</a></li>
          <li class="ml-6"><a href="/register">Register</a></li>
          <li class="ml-6"><a href="/login">Login</a></li>
          <li class="ml-6">
            <a class="flex inline-block px-3 py-1.5 rounded-full" href="/cart">
              <span id ="cartCounter"  class=" pr-1 text-white "><%=  session.cart ? session.cart.total_Quantity : ""  %></span>
              <img src="/image/cart.png" alt="cart"/></a>
          </li>
        </ul>
      </div>
    </nav>
    <%- body %>
    <script src="/js/app.js"></script>
  </body>
 
</html>
