body {
  font-family: "lato", san-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

section.hero, section.cart, .login {
  background-color: #f8f8f8;
}

nav li:last-child a {
  background-color: #f1885b;
}
nav li:last-child a:hover {
  color: #a23b12;
}

nav li a {
  transition: all 0.2s ease-in-out;
}
nav li a:hover {
  color: #a23b12;
}

.size {
  background-color: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #f1885b;
  color: #f1885b;
  transition: all 0.2s ease-in-out;
}
.add-to-cart:hover {
  background: #f1885b;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  border: 2px solid #f1885b;
  color: #fff;
  background-color: #f1885b;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  background: #fff;
  border-color: #f1885b;
  color: #f1885b;
}

.amount {
  color: #f1885b;
}

.height {
  background-color: #f8f8f8;
  min-height: calc(100vh - 69px);
}
