<section class="cart">
  <div class="order container mx-auto w-1/2">
    <div class="flex items-cenetr border-b border-grey-300 pb-4">
      <img src="/image/cart-black.png" alt="" />
      <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
    </div>
    <div class="pizza-list p-4 border-b border-grey-300 pb-4">
      <div class="flex flex-row justify-around">
        <img class="w-24" src="/image/pizza.png" alt="" />

        <div>
          <h2 class="mb-4 text-lg">Margherita</h2>
          <h3 class="mb-4 text-lg opacity-25">Medium</h3>
        </div>

        <h2 class="mb-4 text-lg">1pcs</h2>
        <h2 class="mb-4 text-lg">₹250</h2>
      </div>
    </div>
    <div class="pizza-list p-4 border-b border-grey-300 pb-4">
      <div class="flex flex-row justify-around">
        <img class="w-24" src="/image/pizza.png" alt="" />

        <div>
          <h2 class="mb-4 text-lg">Margherita</h2>
          <h3 class="mb-4 text-lg opacity-25">Medium</h3>
        </div>

        <h2 class="mb-4 text-lg">1pcs</h2>
        <h2 class="mb-4 text-lg">₹250</h2>
      </div>
    </div>
    <div class="pizza-list p-4 border-b border-grey-300 pb-4">
      <div class="flex flex-row justify-around">
        <img class="w-24" src="/image/pizza.png" alt="" />

        <div>
          <h2 class="mb-4 text-lg">Margherita</h2>
          <h3 class="mb-4 text-lg opacity-25">Medium</h3>
        </div>

        <h2 class="mb-4 text-lg">1pcs</h2>
        <h2 class="mb-4 text-lg">₹250</h2>
      </div>
    </div>
    <div class="text-right py-4">
      <div class="">
        <h2 class="mb-4 text-base font-bold">
          Total Amount : <span class="amount font-bold"> ₹250</span>
        </h2>
      </div>
        <form action="" method="POST" class="mt-4">
          <input class="border border-grey-400 mb-2  p-2 w-1/2" type="text" placeholder="Address" />
          <input class="border border-grey-400 mb-2 p-2 w-1/4" type="text" placeholder="Phone Number" />
         <div>  <button type ="submit" class ="btn-primary rounded-full mb-2 px-2 py-1 w-36">Confirm Order</button>
         </form> 
        </div>
        <a href="" class="inline-block cursor-pointer rounded-full mb-2 px-2 py-1 btn-primary ">Login to continue</a>
    </div>
  </div>

  <!-- 

  <div class="empty-cart">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Cart is empty</h1>
      <p class="font-bold opacity-25">
        You have not ordered any thing . To order a pizza , visit to main page .
      </p>
      <img
        class="w-2/5 mx-auto mt-4"
        src="/image/empty-cart.png"
        alt="empty cart logo"
      />
      <a
        href="/"
        class="inline-block px-4 py-2 rounded-full btn-primary text-white font-bold mt-2"
        >Go to home page</a
      >
    </div>
  </div>
 -->
</section>
